<div>
    <section class='genreButtons'>
        <a href="/discover/28">Action</a>
        <a href="/discover/35">Komödie</a>
        <a href="/discover/27">Horror</a>
        <a href="/discover/12">Abenteuer</a>
        <a href="/discover/16">Animation</a>
        <a href="/discover/80">Krimi</a>
        <a href="/discover/99">Dokumentarfilm</a>
        <a href="/discover/18">Drama</a>
        <a href="/discover/10751">Familie</a>
        <a href="/discover/14">Fantasy</a>
        <a href="/discover/36">Historie</a>
        <a href="/discover/10402">Musik</a>
        <a href="/discover/9648">Mystery</a>
        <a href="/discover/10749">Liebesfilm</a>
        <a href="/discover/878">Science Fiction</a>
        <a href="/discover/10770">TV-Film</a>
        <a href="/discover/53">Thriller</a>
        <a href="/discover/10752">Kriegsfilm</a>
        <a href="/discover/37">Western</a>
    </section>
</div>