<div class="movieElement">
    <!-- <img src=`` alt=""> -->
    <img src=<%=`https://image.tmdb.org/t/p/w400/${singleMovie.poster_path}`%> alt="<%= "HallO" %>">
        <h3>
            <%= singleMovie.title %>
        </h3>
</div>